@charset "utf-8";
/* CSS Document */

html {
    overflow: visible;
}

/*body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 600px;
  height: 100px;
}
*/

.table{
    display:table;
    width:700px;
}

.row{
    display:table-row;
    border:1px solid #00008b;
}

.col{
    display:table-cell;
    border:1px solid #00008b;
    vertical-align: top;
}

#poster {
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    left: 3px;
    width: 77px;
    height: 115px;
    overflow: hidden;
    float: left;
    border: 1px double black; /* Параметры границы */
    /*background: #fc3;*/
}

#url {
    padding: 0;
    margin: 0;
    position: relative;
    top: -15px;
    left: 7px;
    /*width: 70px;
    height: 70px;*/
    overflow: hidden;
    float: left;
    /*border: 1px double black; /* Параметры границы */
    /*background: #fc3;*/
}

#title {
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    left: 5px;
    width: 500px;
    height: 25px;
    overflow: hidden;
    float: left;
    border: 1px double black; /* Параметры границы */
    background: #fc3;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #FF0000;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

#year {
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    left: 8px;
    width: 70px;
    height: 25px;
    overflow: hidden;
    /*border: 1px double black; /* Параметры границы */
    background: #8080FF;
    vertical-align: middle;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 1em;
    text-align: center;
}

#buttonadd {
    padding: 0;
    margin: 0;
    position: relative;
    top: 64px;
    left: 18px;
    width: 70px;
    height: 25px;
    overflow: hidden;
    /*border: 1px double black; /* Параметры границы */
    text-align: center;
}

#origname{
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
    left: 5px;
    width: 249px;
    height: 15px;
    overflow: hidden;
    border: 1px double black; /* Параметры границы */
    background: #FFC0FF;
    font-family: Verdana, Geneva, sans-serif;
    font-size:8px;
    color:black;
    float: left;
}

#altname{
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
    left: 7px;
    width: 249px;
    height: 15px;
    overflow: hidden;
    border: 1px double black; /* Параметры границы */
    background: #FFC0FF;
    font-family: Verdana, Geneva, sans-serif;
    font-size:8px;
    color:black;
    float: left;
}

#overview{
    padding: 0;
    margin: 0;
    position: relative;
    top: 7px;
    left: 5px;
    width: 500px;
    height: 68px;
    overflow: hidden;
    border: 1px double black; /* Параметры границы */
    background: #FFC0FF;
    font-family: Verdana, Geneva, sans-serif;
    font-size:8px;
    color:black;
    float: left;
    margin-bottom: 10px;
}

#seen{
    padding: 0;
    margin: 0;
    position: relative;
    top: 40px;
    left: -40px;
    width: 21px;
    height: 16px;
    float: left;
}

#photo-block {
    padding: 0;
    margin: 0;
    position: relative;
    top: -2px;
    left: 3px;
    width: 693px;
    height: 75px;
    overflow: hidden;
    float: left;
    border: 1px double black; /* Параметры границы */
    background: #fc3;
}

#photo {
    padding: 0px;
    margin: 1px;
    position: relative;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 68px;
    float: left;
    border: 1px double black; /* Параметры границы */
    /*background: #fc3;*/
}
